<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Spotify Songs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="templates/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		{{ resources }}
		
	</head>
	<style>
		.center { 
			/* or so i hope */
			/* align-content: center; */
			align-self: center;
		}
	</style>
	<body>

		<!-- Banner -->
			<section id="banner">
				<h2><strong>Spotify Analysis</strong> is a project to show the trends of spotify's TOP playlst </h2>
				<p>and their position in the countries playlists</p>
				<ul class="actions">
					<li><a href="#one" class="button special">See the graphs</a></li>
					<!-- <li><a href="https://github.com/theDeadIns/zombie" class="button special">Github</a></li> -->
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper special">
				<h2>Graphs</h2>
				<!-- <header>Graphs</header> -->
				
				{{ div }}
				{{ script }}
				
			</section>

		<!-- Two -->

			<section id="two" class="wrapper style2 sepcial">
				<div class="inner narrow">
					<header>
						<h2>Want to try it yourself?</h2>
					</header>
					<ul class="actions">
						<li><a href="https://github.com/theDeadIns/zombie" class="button">Github</a></li>
					</ul>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Untitled. Design: <a href="http://templated.co/">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>